.App {
  padding: 12px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 0.04em;
}

.main {
  display: flex;
}

.hidden {
  display: none;
}

.beercard {
  height: 150px;
  width: 130px;
  padding: 10px;
  margin: 4px;
  display: flex;
  flex-direction: column;
}
.beer-img {
  width: 100px;
  align-self: center;
}
.beercard-title {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.left-side {
  flex-basis: 75%;
  flex-wrap: wrap;
  display: flex;
}

.right-side {
  flex-basis: 30%;
}

.beerloader {
  text-align: center;
  width: 100%;
  padding: 12px;
}

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');